# LaTeX build artifacts
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.ptc
*.bbl
*.blg
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.lof
*.lot
*.nav
*.snm
*.vrb

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Binari compilati
*.o
**/stackvector/main
**/stackimpl/stackimpl

# File accidentali
eval*
